[project]
	description = The most advanced responsive front-end framework in the world. Quickly create prototypes and production code for sites and apps that work on any kind of device.
[access "refs/*"]
	owner = group user/Badoui Minaise (bMinaise)
[access "refs/for/refs/*"]
	read = group user/Badoui Minaise (bMinaise)
	push = group user/Badoui Minaise (bMinaise)
	label-Code-Review = -2..+2 group user/Badoui Minaise (bMinaise)
	label-Verified = -1..+1 group user/Badoui Minaise (bMinaise)
	rebase = group user/Badoui Minaise (bMinaise)
	removeReviewer = group user/Badoui Minaise (bMinaise)
	submit = group user/Badoui Minaise (bMinaise)
[access "refs/heads/*"]
	read = group user/Badoui Minaise (bMinaise)
	create = group user/Badoui Minaise (bMinaise)
	push = +force group user/Badoui Minaise (bMinaise)
	pushMerge = group user/Badoui Minaise (bMinaise)
[access "refs/tags/*"]
	push = +force group user/Badoui Minaise (bMinaise)
	pushTag = group user/Badoui Minaise (bMinaise)
	pushSignedTag = group user/Badoui Minaise (bMinaise)
